.custom0 {
    font-family: 'Cormorant', serif;
}

/* .padding-left-lg { padding-left: 1.5em; } */
.custom1 {
    font-size: 200%;
    width: 90%;
    padding-top: 15%;
}

.custom2 {
    font-size: 200%;
    width: 90%;
    padding-top: 15%;
}